html,
body {
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
}
main-title {
    text-align: center;
}
/*
.container {
   flex-flow: column wrap;
   justify-content: space-between;
   align-items: center;
}
*/
